body {
    font-family: Poppins, sans-serif;
    background: #4facfe;

    color: white;
    overflow-x: hidden;
    padding: 0;
    margin-top: -190px;
}

.portfolio-container {
    position: relative;
    width: 100%;
    min-height: 200vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section {
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

.wave-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
}
